@{
    ViewData["Title"] = "Contact Page";
}

<div style="text-align: center;">
   <u><h1 style="margin-top: 20px;">Contact us</h1></u>
                <i><p><b>Student At: </b>Transflower Learning Pvt. Ltd.</p></i>
                <i><p><b>Contact Number: </b>8446756339</p></i>
                <i><p><b>Email: </b>bhorsanika0239@gmail.com</p></i>
</div>
