@{
    ViewData["Title"] = "Home Page";
}

<div style="text-align: center;">
    <h1>Welcome</h1>
    <p><b>Welcome to our platform. this is our new project name as</b></p>
    <p> <b>Transflower web store</b></p>
</div>
