@{
    ViewData["Title"] = "Services Page";
}

<div style="text-align: center;">
    <u><h1 style="margin-top: 20px;">Services</h1></u>
                <i><p><b>Fontend: </b>HTML, CSS, JS, React</p></i>
                <i><p><b>Backend: </b>mysql, oracle, mangodb</p></i>
                <i><p><b>fullStack: </b>c++, C#, java, NodeJs</p></i>
</div>
